*{
    padding: 0;
    margin: 0;
    color: white;
    
}
a{
    color: white;
}
a{
    font-family: 'Open Sans', sans-serif;
    
}
h1,h2,h3,h4{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #FE005A;
    background: linear-gradient(to right,#f72a00, #00d1c9);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}
p{
    background: linear-gradient(to right,#00d5fe,#ebebeb);
    -webkit-background-clip:text;
    color: transparent;
    background-clip: text;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family:  sans-serif;
    font-family: 'Poppins', sans-serif;
}
strong{
    font-weight: 500;
}
body{
    background-color: black;
    overflow-x: hidden;
    transition: 0.3s ease;
   /* background: linear-gradient(to right, #000b21, #060d38);*/
}
header{
    
    
    width: 100%;
    margin: auto;
    display: flex;
    background-color: black;
    padding-top: 5px;
    
    position: fixed;
    box-shadow: 0 0 5px #3a3a3a;
    z-index: 2;
    
    
}
header #options{
    width: 50px;
    margin-right: 5px;
    margin-left: auto;
    text-align: center;
    
    

    
    
    
    
    
}
#options hr{
    border: 1.5px solid #08FE01;
    border-radius: 2px;
    margin: 10px;
    transition: border 0.3s ease;
    transition: transform 0.5s;
    width: 35px;
    margin-right: auto;
    margin-left: auto;
}

#ro1,#ro2{
    display: none;
    transition: transform 0.5s;
}

header #logo{
    
    width: 120px;
    margin-left: 0;
    margin-right: auto;
    padding:2px;
    
    
    
}
#logo img{
    width:100%;
    
    width: 100%;
}
#showoptions{
    margin-top: 50px;
    position: fixed;
    transition: 0.3s ease;
    right: -5000px;

    width: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
   
    z-index: 2;
    
}

#ioio{
    font-size: 18px;
    color: blue;
}
.search{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 50px;
    overflow: hidden;
    width:230px;
    background-color: rgb(255, 255, 255);
    

}
.search input,button{
    padding: 8px;
    margin: 0;
    color: black;
    border: none;
    outline: none;
    background-color: white;
    
}
.search button{
    background-color: white;
    cursor: pointer;
}



.searchhead{
    display: flex;
    margin: auto;
    width: 300px;
    margin-right: 23%;
    border-radius: 50px;
    overflow: hidden;
    color: rgb(0, 0, 0);
    border: 1px solid wheat;

}
.searchhead input{
    width: 100%;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    background-color: black;
}
.searchhead button{
    background-color: black;
}

#showoptions a{
    
    display: block;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.7s ease;
}
#showoptions a:hover{
    transform: scale(1.5);
}
#showoptions hr{
    width: 80%;
    margin: auto;
    height: 1.5px;
    border: none;
    background-color: rgba(1, 1, 219, 0.2);
}
#showoptionsdv{
    background-color: #06FE02;
    padding: 3px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

#welcome{
    width: 100%;
    
    text-align: center;
    background-image: url('image/waves-1.webp');
    background-size: 100% 100%;
}
#welcome p{
    margin: 15px;
    text-align: left;
}
#welcome h3{
    
    width: 400px;
    margin: auto;
}
#div3{
    width: 100%;
    margin: auto;
    text-align: center;
}
#div3 img{
    width:70%;
}
#hr{
    width: 90%;
    margin: auto;
    height: 1.5px;
    border: none;
    background-color: rgba(1, 1, 219, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#brp{
    width: 100%;
    margin: auto;
    
    /*background-image: url('image/GWqs.gif');
    background-size: 100% 100%;*/
    
}
#social{
    width: 100%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
    display: flex;
    text-align: center;
    
    
    
    
}
#social div{
    
    padding: 4px;
    width: 100%;
    margin:5px;
    text-align: center;
    padding: 5px;
    border-radius: 15px 35px;
    box-shadow: 0 0 5px #383838;
    transition:box-shadow 0.3s ease;
    

}
#social div:hover{
    box-shadow: 0 0 10px #6d6d6d;
    
}

#social p{
    text-align: center;
    margin: 5px;
    
    
}
#social img{
    width: 90px;
    margin: 5px;
    
}
#social h3{
    margin: 0;
}
#social a{
    display: flex;
    text-decoration: none;
    border-radius: 5px;
    width: 100px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    padding: 5px;
    background-color:#005baa;
}
#rgb2{
    display: flex;
    
    width: 100%;
    
}
#deve{
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    
}
#deve img{
    width: 80%;
}
#deve p{
    text-align: left;
}

footer{
    background-color: #191919;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer h3{
    margin: 10px;
    
}
#abuteurl{
    text-decoration: none;
    transition:color 0.3s ease;
    
}

#abuteurl:hover{
    
    color: #1c48ff;
}

ul{
    
    
}
li{
    margin: 10px;
    margin-left: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #33ff18;
}

#deve1 {
    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    
    width: 90%;
    margin: auto;
    padding:0;
}
#deve{
    width: 100%;
    margin: auto;
    
}
#brother{
    
    color: black;
    width: 100%;
}
#the{
    
    width: 90%;
    margin: auto;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1f1f1f;
    
}
#the p{
    text-align: left;
    
    
}
#the img{
    
    width: 20px;
    margin-right: 5px;
    margin-left: auto;
    transition: transform 0.3s ease;
    
}
/*---------------*/
#the2 img{
    width: 20px;
    margin-right: 5px;
    margin-left: auto;
    transition: transform 0.3s ease;
}
#the2{
    display: flex;
    padding: 10px;
    width: 90%;
    margin: auto;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
}
#the2 p{
    
}
#deve2{
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.4s ease;
    
    width: 100%;
    
}
#brother2{
    width: 100%;
    margin: auto;
}
#deve12{
    width: 90%;
    margin: auto;
    border: 1px solid #1f1f1f;
    padding: 5px;
    border-radius: 5px;
}
#deve12 p{
    text-align: left;
    
    
    

}

/*---------------z*/
#the3 img{
    width: 20px;
    margin-right: 5px;
    margin-left: auto;
    transition: transform 0.3s ease;
}
#the3{
    display: flex;
    padding: 10px;
    width: 90%;
    margin: auto;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
}
#the3 p{
    
}
#deve3{
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.4s ease;
    
    width: 100%;
    
}
#brother3{
    width: 100%;
    margin: auto;
}
#deve13{
    width: 90%;
    margin: auto;
    border: 1px solid #1f1f1f;
    padding: 5px;
    border-radius: 5px;
}
#deve13 p{
    text-align: left;
    
    
    

}




#ctoc{
  background: linear-gradient(to right, #FF4823, #00d5c5);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  

}
.BgTo{
    background: linear-gradient(to right, #000065, #053a00);
}
#devimage{
    width: 100%;
    margin: auto;
    text-align: center;
}
#devimage img{
    width: 80%;
}
#start{
    display: flex;
    width: 80%;
    margin: auto;
    
}
#start div{
    width: 100%;
    margin: auto;
    
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(to right,#030038,#0600ce);
    transition: box-shadow 0.3s ease;

}
#start a{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}
#start div:hover{
    box-shadow: 0 0 10px #2b2b2b;
}
#Developer{
    width: 90%;
    margin: auto;
    
    
}
#Developer p{
    text-align: left;
}
#Developer div{
    width: 90%;
    margin: auto;
    text-align: left;
    padding: 10px;
    
}
#Developer li{
    margin: 10px;
    margin-left: 15px;
    
}
#Developer ul{
    
    
}
#Developer strong{
    font-weight: 600;
    background:linear-gradient(to right,#c60080,#00d1c9);
    -webkit-background-clip:text;
    color: transparent;
    background-clip: text;
}
#Developerteam{
    
    width:200px;
    margin: auto;
    text-align: center;
}
#Developerteam h3{
    margin: 15px;
}
#team{
    width: 100%;
    
    display: flex;
    text-align: center;
}
#team img{
    width: 80px;
    border-radius: 50%;
}
#team div{
    
    width: 70%;
    margin: 5px;
    border-radius: 15px 30px;
    padding: 10px;
    box-shadow: 0 0 5px #262626;
    transition: box-shadow 0.3s ease;
}
#team div:hover{
    box-shadow: 0 0 10px gray;
    
}
#DaniGeniusTechnologies{
    width: 90%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    
}
#DaniGeniusTechnologies img{
    width: 100%;
    margin: auto;
    border-radius: 10px;
}
#DaniGeniusTechnologies p{
    text-align: left;
    margin: 10px;
}
#DaniGeniusTechnologies h3{
    width: 400px;
    margin: auto;
    text-align: center;
}
#for, #for2 {
        transition: opacity 2s ease-in-out;
        position: absolute;
        z-index: 1;
        
}
#for2 {
    opacity: 0;
}
#for img{
    width: 100%;
    margin: auto;
    border-radius: 5px;
}
#for2 img{
    width:100%;
    margin: auto;
    border-radius: 5px;
}
#forimg{
    width: 100%;
    display: flex;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 250px;
    overflow: hidden;
    position: relative;
}
#forimg div{
    width: 100%;
    margin: auto;
}
#iconsdeveloper{
    
    display: flex;
    padding: 15px;
}
#iconsdeveloper div{
    width: 100%;
    margin: auto;
    
    
    text-align: center;
}
#iconsdeveloper img{
    width: 50px;
}

@media (min-width: 768px) {
    p{
        text-align: center;
    }
    #social div{
        width: 50%;
        
        margin: 20px;
        
    }
    header #logo{
    
        width: 200px;
        margin-left: 0px;
        margin-right: auto;
        
    }
    #logo img{
        width: 100%;
        margin: auto;
        padding: 0;
    }
    #forimg{
        padding-bottom: 500px;
    }
    #forimg img{
        width: 80%;
    }
    #div31 img{
        width: 400px;
    }
    #devimage img{
        width: 600px;
        height: 400px;
        border-radius: 20px;
    }
    #for img{
        width: 500px;
    }
    #for2 img{
        width: 500px;
    }
    #iconsdeveloper img{
        width: 100px;
    }
    #iconsdeveloper{
        padding: 30px;
    }
    #team div{
        width: 100px;
        margin: auto;
    }
    #the,#the2,#the3{
        width: 1000px;
        margin: auto;
    }
    #deve12,#deve13,#deve1{
        width: 1000px;
        margin: auto;
    }
    #social div{
        width: 400px;
        margin: auto;
    }
    #start{
        width: 500px;
    }
    
}
@media (max-width: 767px) {
    
}
